@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: rgb(177, 71, 9);
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.header {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/estudio.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}


/* HEADER CONTAINER */

.header__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.header__title {
    font-size: 3rem;
}

.justice4all {

    color: var(--color-title);
    display: inline-block;
    padding: 5px;
}

.header__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #f97720;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* ABOUT */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}


.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


/* PROFESSIONALS */

.professionals {
    background-color: rgb(216, 176, 153)fff;
    border-radius: 20px;
   

}

.professionals__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.professionals__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.professionals__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.professionals__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.professionals__texts {
    max-width: 700px;
}

.professionals__ {
    background-color: rgb(177, 43, 9);
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.professionals__arrow {
    width: 90%;
    cursor: pointer;
}

/* CONTACT & CHECK CASES (forms)*/
.subtitle__contact {
    color: var(--color-title);
    font-size: 3rem;
    margin-bottom: 25px;
    text-align: center;
}

.contact .row {
    display: flex;
    align-items: center;
    color: #f97720;
    height: 100%;
}

.contact .row .image {
    flex: 1 1 50%;
}

.contact .row .image img {
    width: 100%;
    height: auto;
}

.contact .row form{
    flex:1 1 40rem;
    padding:3rem 2rem;
    margin: 5rem 3rem;
    border-radius: .5rem;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/estudio.jpg');
    background-size: cover;
    order: 2;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
    
}

.contact .row form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.contact .row form .inputBox input {
    width: 100%; 
}

.contact .row form input,
.contact .row form .box,
.contact .row form textarea {
    width: 100%;
    border-radius: .5rem;
    font-size: 1.7rem;
    color: #333;
    padding: 1rem;
    margin: 0.5rem auto;
    border: .1rem solid rgba(0, 0, 0, .1);
    text-transform: none;
    display: block;
}


.contact .row form input {
    width: 49%;
}

.contact .row form textarea {
    height: 20rem;
    resize: none;
}

.contact .row form .btn {
    margin: .5rem 0;
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: #f97720;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    border: 0.1rem ;
    border-radius: 1.5rem;
}

.btn:hover {
    background: rgb(226, 91, 13);
    letter-spacing: 0rem;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
}


/* Footer */

.footer {
    background-color: var(--color-title);
}

.footer__title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title,
.footer__newsletter {
    color: #fff;
}


.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input {
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #f98220;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-weight: 300;
}

.footer .redes a {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fffcfc;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 10px 5px;
    font-size: 20px;
    transition: .3s;
}


/* Media queries */

@media (max-width:800px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .header__title {
        font-size: 2.5rem;
    }


    .about__main {
        gap: 2em;
    }

    .about__icons:last-of-type {
        grid-column: 1/-1;
    }



    .professionals__container {
        grid-template-columns: 30px 1fr 30px;
    }

    .professionals__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }


    .professionals__img {
        width: 200px;
        height: 200px;

    }


    .footer__container {
        flex-wrap: wrap;
    }

    .nav--footer {
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer {
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input {
        flex: 1;
    }

}

@media (max-width:600px) {
    .header__title {
        font-size: 2rem;
    }

    .header__paragraph {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .professionals {
        --padding-container: 60px 0;
    }

    .professionals__container {
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .professionals__arrow {
        width: 100%;
    }

    .professionals__course {
        margin-top: 15px;
    }


    .footer__title {
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer {
        padding-bottom: 60px;
    }

    .nav__link--footer {
        justify-content: space-between;
    }

    .footer__inputs {
        flex-wrap: wrap;
    }

    .footer__input {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit {
        margin-right: auto;
        margin-left: 0;



        margin: 0;
        width: 100%;

    }
}

@media (max-width:450px) {


    .contact .row form .inputBox input {
        width: 100%;
    }

}